<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @user.email%></h2>
    <p>Below is a new password you can use to access you account.</p>
    <h3> <%=@temp_password%> </h3>
    <p>Please use this password to login and then change this password by updating your account to one you are more likely to remember!</p>
    <p>Best Regards,</p>
    <p>The Memorial Notifier Team</p>
  </body>
</html>